body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkcyan;
}

.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1380px;
  margin: 35px auto;
}


header{
  display: flex;
  padding:30px;
  border-bottom:1px solid #EAEAEA;
  .headerLeft{
    display: flex;
    align-items: center;

    img{
      margin-right: 10px;
    }

    h3,
    p {
      margin:0;
    }
  }
  .HeaderRight{
    margin-left: 100px;
    display: flex;
    align-items: center;
    .mr-30{
      img{
        cursor:pointer;
      }
    }
  }
}

.content{
  h1{
    margin:0px;
  }
}

.card{
  margin:40px;
  margin-top:5px;
  border:1px solid #F3F3F3;
  width: 240px;
  padding:25px;
  border-radius: 50px;

  h5{
    font-weight: 400;
    font-size:21px;
  }
}

.button{
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  width:40px;
  height: 35px;
  cursor: pointer;

  .img{
    img:hover{
      color:hsl(0, 2%, 82%);
      background: hsl(0, 2%, 82%);
    }
  }
}

button:hover{
  color:hsl(0, 2%, 82%);
  background: hsl(0, 2%, 82%);
}

